<mat-card class="example-card">
  <mat-card-header>
    <div class="container">

      <div class="row">
        <mat-card-title class="p-0">Paciente: {{ atividade.paciente }}</mat-card-title><div></div>
      </div>

      <div class="row pt-2">
        <mat-card-subtitle class="col-6 p-0">Atividade: {{ atividade.tipoAtividade == 0 ? 'Consulta' : 'Cirurgia' }}</mat-card-subtitle>
        <mat-card-subtitle class="col-6 p-0">Inicio: {{ atividade.horarioInicio }}</mat-card-subtitle>
        <mat-card-subtitle class="col-6 p-0">Data: {{ atividade.data}}</mat-card-subtitle>
        <mat-card-subtitle class="col-6 p-0">Termino: {{ atividade.horarioTermino }}</mat-card-subtitle>
      </div>

    </div>
    <mat-divider></mat-divider>
  </mat-card-header>
  <mat-card-actions align="end">
    <button 
      color="warn"
      mat-button
      routerLink="/atividades/excluir/{{atividade.id}}"
      >Excluir
    </button>
    <button 
      color="primary"
      mat-button
      routerLink="/atividades/editar/{{atividade.id}}"
      >Editar
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <!-- <mat-progress-bar></mat-progress-bar> -->
  </mat-card-footer>
</mat-card>
