<mat-card class="example-card">
  <mat-card-header>
    <div class="container">

      <div class="row">
        <mat-card-title class="p-0 text-center text-md-start text-lg-start">Paciente: {{ atividade.paciente }}</mat-card-title><div></div>
      </div>

      <div class="row pt-2">
        <mat-card-subtitle class="col-6 col-lg-7 p-0 text-center text-lg-center">Ativ.: {{ atividade.tipoAtividade == 0 ? 'Consulta' : 'Cirurgia' }}</mat-card-subtitle>
        <mat-card-subtitle class="col-6 col-lg-5 p-0 text-md-end text-lg-end">Inicio: {{ atividade.horarioInicio }}</mat-card-subtitle>
      </div>
      <div class="row pt-2">
        <mat-card-subtitle class="col-6 col-lg-7 p-0 text-center text-lg-center">Data: {{ atividade.data}}</mat-card-subtitle>
        <mat-card-subtitle class="col-6 col-lg-5 p-0 text-md-end text-lg-end">Fim: {{ atividade.horarioTermino }}</mat-card-subtitle>
      </div>

    </div>
    <mat-divider></mat-divider>
  </mat-card-header>
  <mat-card-actions align="end">
    <button 
      color="accent"
      mat-button
      routerLink="/atividades/excluir/{{atividade.id}}"
      >Excluir
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button 
      color="primary"
      mat-button
      routerLink="/atividades/editar/{{atividade.id}}"
      >Editar
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <!-- <mat-progress-bar></mat-progress-bar> -->
  </mat-card-footer>
</mat-card>
