
  <mat-toolbar color="primary">

    <mat-toolbar-row class="gap-5">

      <a 
        class="col-3"
        routerLinkActive="fw-semibold"
        routerLink="/dashboard"
        mat-button>e-Agenda Medica
      </a>

      <div class="col-6"></div>

      <button 
        class="col-3 pe-5"
        (click)="estaColapsada = !estaColapsada"
        mat-icon-button class="example-icon" 
        aria-label="Example icon-button with menu icon">
        <mat-icon >menu</mat-icon>
      </button>
      
    </mat-toolbar-row>

    <mat-toolbar-row
      class="collapse navbar-collapse" 
      [ngbCollapse]="estaColapsada == true"
    >

      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link routerLink="/dashboard" routerLinkActive>
          Dashboard
        </a>
        <a mat-tab-link routerLink="/medicos" routerLinkActive >
          Médicos
        </a>
        <a mat-tab-link routerLink="/atividades" routerLinkActive>
          Atividades
        </a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

      


    </mat-toolbar-row>

  </mat-toolbar>
