<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-10 mx-auto mx-0 mt-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold">Lista de Atividade</h1>
        <hr />
      </div>

      <!-- Barra de Ações -->
      <div class="d-grid d-md-flex gap-1 mt-5">
        <a
          matTooltip="Ir para página onde poderá Inserir uma nova Atividade"
          mat-raised-button
          color="primary"
          [routerLink]="['/atividades/inserir']"
          role="button"
          class="btn btn-primary me-md-1 d-none d-sm-flex align-items-center"
        >
          <span class="mx-auto text-light">ATIVIDADES</span>
          <mat-icon>group_add</mat-icon>
        </a>

        <div class="d-flex d-sm-none fixed-bottom justify-content-end p-3" >
          <a
            mat-fab
            color="accent"
            [routerLink]="['/atividades/inserir']"
            class="me-2 mt-auto"
            matTooltip="Ir para página onde poderá Inserir uma nova Atividade"
          >
            <mat-icon>event_available</mat-icon>
          </a>
        </div>

      </div>

      <div class="row mt-3 g-5 justify-content-md-center mx-0 px-0">
        <div
          class="col-12 col-md-6 mx-0 col-lg-4"
          *ngFor="let atividade of atividades"
        >
          <app-card-atividade [atividade]="atividade"></app-card-atividade>
        </div>
      </div>
    </div>
  </div>
</div>
