<mat-card class="example-card">
  <mat-card-header>
    <div class="container">

      <div class="row">
        <mat-card-title class="p-0 text-center text-md-start text-lg-start">Dr(a): {{ medico.nome }}</mat-card-title><div></div>
      </div>

      <div class="row pt-2">
        <mat-card-subtitle class="col p-0 text-center text-md-start text-lg-start">{{ medico.especialidade }}</mat-card-subtitle>
      </div>      
      <div class="row pt-2">
        <mat-card-subtitle class="col p-0 text-center text-md-start text-lg-start">CRM: {{ medico.crm }}</mat-card-subtitle>
      </div>

    </div>
    <mat-divider></mat-divider>
  </mat-card-header>
  <mat-card-actions align="end">
    <button 
      color="accent"
      mat-button
      routerLink="/medicos/excluir/{{medico.id}}"
      >Excluir
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button 
      color="primary"
      mat-button
      routerLink="/medicos/editar/{{medico.id}}"
      >Editar
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <!-- <mat-progress-bar></mat-progress-bar> -->
  </mat-card-footer>
</mat-card>
